:root {
  --white: #f2f2f3;
  --black: #1a1a1a;
  --grey: #404040;
  --blue: #505fa1;
  --red: #f44539;
  --font-family: 'Inter', sans-serif;
  --second-family: 'Futura PT Cond Bold Italic W08', sans-serif;
}

body {
  position: relative;
  font-family: 'Inter';
  min-width: 320px;
  background-color: #eaedf4;
  overflow-x: clip;
}

section {
  margin-bottom: 70px;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 6px 0;
  z-index: 10;
  background-color: var(--white);
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1196px;
  padding: 0px 24px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.header__wrapper {
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 72px;
  height: 72px;
  object-fit: contain;
}

.header__nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  @include fluid(16px, 24px, 320px, 1920px, gap);
}

.header__nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: var(--grey);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  @include fluid-font(12px, 15px);
}

.header__nav-link:hover {
  color: var(--blue);
}

.header__nav-link_active {
  font-weight: 700;
  color: var(--black);
}

.header__btn {
  border: 3px solid var(--blue);
  border-radius: 20px;
  padding: 10px 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  color: var(--blue);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  @include fluid-font(12px, 15px);
}

.header__btn:hover {
  background-color: var(--blue);
  color: var(--white);
}

.header__socials {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 24px;
  svg {
    width: 32px;
    height: 32px;
  }
}

.main {
  margin-top: 120px;
}

.promo-section__wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.promo-section__container {
  position: relative;
  border-radius: 60px;
  padding: 50px;
  width: 100%;
  height: 735px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.promo-section__container::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 60px;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    23deg,
    rgb(0 0 0 / 49%) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.heading {
  font-family: var(--second-family);
  font-size: 100px;
  line-height: 90%;
  font-style: italic;
  text-transform: uppercase;
  color: var(--blue);
  @include fluid-font(48px, 72px);
}

.promo-section__heading {
  max-width: 610px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 26px;
  padding-left: 1px;
  padding-right: 135px;
  padding-bottom: 47px;
  border-bottom-right-radius: 60px;
  background-color: #eaedf4;
}

.promo-section__heading::after {
  content: '';
  width: 60px;
  height: 59px;
  background-image: url('../assets/img/promo-bg-round-angle.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -60px;
  top: 0;
}

.promo-section__heading::before {
  content: '';
  width: 60px;
  height: 59px;
  background-image: url('../assets/img/promo-bg-round-angle.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: calc(100%);
}

.promo-section__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  border-radius: 60px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  @include fluid-font(12px, 15px);
}

.text_white {
  color: var(--white);
}

.promo-section__text {
  margin-bottom: 20px;
  max-width: 548px;
}

.btn {
  padding: 1.3em 4em;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
  border-radius: 50px;
  background: var(--red);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  outline: 1px solid var(--red);
  @include fluid-font(12px, 16px);
}

.btn:hover {
  background-color: transparent;
  color: var(--red);
}

.btn:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.promo-section__list {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 30px;
}

.promo-section__list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.promo-section__list-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 130%;
  text-align: center;
  color: var(--black);
  @include fluid-font(12px, 16px);
}

.promo-section__list-item-value {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 112%;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  @include fluid-font(24px, 64px);

  span {
    text-transform: lowercase;
    color: var(--blue);
  }
}

.tutors-section__wrapper {
  flex-direction: column;
  align-items: center;
}

.subheading {
  max-width: 930px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-bottom: 50px;
  @include fluid-font(24px, 48px);
}

.tutors-section__card-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 18px;
  flex-wrap: wrap;
}

.tutor-card {
  width: calc(50% - 15px);
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  border-radius: 60px;
  overflow: hidden;
  background: #c8cde4;
}

.tutor-card:nth-child(2n) {
  background: #e4cac8;
  flex-direction: row-reverse;
}

.tutor-card:nth-child(3n) {
  width: 100%;
  background-color: #fff;
}

.tutor-card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 24px;
}

.tutor-card__heading {
  margin-bottom: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--red);
  @include fluid-font(20px, 28px);
  span {
    color: var(--blue);
  }
}

.tutor-card__subheading {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--black);
  @include fluid-font(24px, 36px);
}

// .tutor-card__text {
//   font-family: var(--font-family);
//   font-weight: 400;
//   font-size: 15px;
//   line-height: 130%;
//   color: var(--black);
// }

.tutor-card__img {
  width: 345px;
  height: 100%;
  object-fit: cover;
}

.tutor-card:nth-child(3n) .tutor-card__img {
  width: 100%;
  max-width: 711.5px;
}

.prices-section__wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-section__swiper {
  width: 100%;
  height: 800px;
  overflow: visible;
}

.swiper-slide {
  width: 690px !important;
}

.price-item {
  position: relative;
  width: 690px;
  height: 372px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.price-item__body {
  position: relative;
  width: 100%;
  height: 188px;
  max-width: 451px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding-top: 11.5px;
  padding-right: 20px;
  padding-bottom: 11.5px;
  border-top-right-radius: 40px;
  background-color: #eaedf3;
}

.price-item__body::after {
  content: '';
  width: 60px;
  height: 59px;
  background-image: url('../assets/img/promo-bg-round-angle.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -1px;
  bottom: 100%;
  rotate: -90deg;
}

.price-item__body::before {
  content: '';
  width: 60px;
  height: 59px;
  background-image: url('../assets/img/promo-bg-round-angle.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 446px;
  bottom: 0;
  rotate: -90deg;
}

.price-item__heading {
  margin-bottom: 15px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 175%;
  text-transform: uppercase;
  color: var(--red);
  @include fluid-font(24px, 36px);
}

.price-item__row {
  font-family: var(--font-family);
  font-weight: 400;

  line-height: 130%;
  color: var(--black);
  margin-bottom: 10px;
  @include fluid-font(12px, 15px);
  b {
    font-weight: bold;
  }
}

.price-item__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 60px;
  overflow: hidden;
}

.contacts-section__wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts-section__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.contacts-section__content-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-section__content-col:first-child {
  max-width: 450px;
}

.contacts-section__content-col:last-child {
  max-width: 520px;
}

.contacts-section__subheading {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 175%;
  text-transform: uppercase;
  color: var(--black);
  @include fluid-font(22px, 36px);
}

.contacts-section__content-col-text {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 130%;
  color: var(--black);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.form__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--grey);
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  background: none;
  color: var(--grey);
}

.form__input:focus {
  outline: none;
}

.form__textarea {
  width: 100%;
  margin-bottom: 40px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--grey);
  padding: 10px;
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  color: var(--grey);
  height: 196px;
}

.form__btn {
  width: 100%;
  cursor: pointer;
  border: none;
}

.contacts-section__grid {
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //   grid-auto-rows: 1fr;
  gap: 32px;
}

.contacts-section__grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 5px;
}

.contacts-section__grid-item-heading {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 233%;
  text-transform: uppercase;
  color: var(--black);
  @include fluid-font(18px, 24px);
}

.contacts-section__grid-item-value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: var(--black);
  @include fluid-font(12px, 15px);
}

.contacts-section__grid-item-row {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.contacts-section__map {
  width: 100%;
  height: 360px;
  border: 1px solid var(--grey);
  border-radius: 60px;
}
